<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Multiplication Table</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-app="multable">
	<div ng-controller="TableCtrl as vm" initial-number-limit="10">
		<input type="number" ng-model="vm.numberLimit" placeholder="Enter a number">
	 	<table>
			<tr ng-repeat="numberA in vm.numbers()">
				<td ng-repeat="numberB in vm.numbers()">
					{{vm.compute(numberA, numberB)}}
				</td>
			</tr>
		</table>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>

	<script src="js/app.js"></script>
	<script src="js/tableCtrl.js"></script>
</body>
</html>
